
@{
    ViewData["Title"] = "Projects";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Coeus.dk | Learning by doing</title>
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                  crossorigin="anonymous"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        </environment>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
</html>

<body>
    <div class="text-center">
        <h1 class="display-4">Projects</h1>
        <p>Lorum Ipsum</p>
    </div>
    <div class="row text-center" >
        <div class="col-sm-6">
            <a class="display-4 text-decoration-none text-dark" asp-controller="projects" asp-action="Chat">Chat With SignalR</a>
            <img src="~/images/Projects/Subnet-Scanner.jpg" style="max-width:75%;height:auto;" />
            <p>A simple browser based real time chat</p>
        </div>
        <div class="col-sm-6">
            <h3 class="display-4">Subnet Scanner</h3>
            <img src="~/images/Projects/Subnet-Scanner.jpg" style="max-width:75%;height:auto;" />
            <p>A simple Subnet Scanner, made with Windows Forms</p>
        </div>
        <div class="col-sm-6">
            <h3 class="display-4">Subnet Scanner</h3>
            <p>A simple Subnet Scanner, made with Windows Forms</p>
        </div>
        <div class="col-sm-6">
            <h3 class="display-4">Subnet Scanner</h3>
            <p>A simple Subnet Scanner, made with Windows Forms</p>
        </div>
        <div class="col-sm-6">
            <h3 class="display-4">Subnet Scanner</h3>
            <p>A simple Subnet Scanner, made with Windows Forms</p>
        </div>
    </div>
</body>