@model IEnumerable<Post>


@{

}

<body>
    <div class="text-center">
        <h1 class="display-4">Projects</h1>
        <p>Lorum Ipsum</p>
    </div>
    <div class="row text-center">
        @foreach (var post in Model)
        {
        <div class="col-sm-6">
            <a asp-controller="Blog" asp-action="Post" asp-route-id="@post.Id" class="display-4 text-decoration-none text-dark text-center">
                @post.Title<br />
                <img src="~/image/@post.Image" style="max-width:75%;height:auto;" />
            </a>
            <p>@post.Description</p>
        </div>
        }
    </div>
</body>