
@{
    ViewBag.Title = "Coeus.dk | Learning by doing";
    ViewBag.Description = "Coeus.dk | Backend Development Portfolio";
    ViewBag.Keywords = "Blog Programming C# ASP.NET Core How To Backend Development";
}

<h1>about</h1>

<img src="~/images/about/cat.jpg" alt="ASP.NET" class="img-responsive" />