@{
    ViewBag.Title = "Coeus.dk | Learning by doing";
    ViewBag.Description = "Coeus.dk | Backend Development Portfolio";
    ViewBag.Keywords = "Blog Programming C# ASP.NET Core How To Backend Development";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Coeus.dk | Learning by doing</title>
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                  crossorigin="anonymous"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        </environment>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
</html>

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is just my trying to build a portfolio</p>
    </div>
</body>